.content {
  min-height: 90vh;
  justify-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.loadingStatus{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  .text-primary {
  max-width: 15rem;
    text-align: center;
    margin: 1rem 0;
}}
