
.wrapper {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

button.btn {
  border-radius: 10px;
}

.card {
  margin: 1.6em 0;
  border: 1px solid rgba(88, 88, 88, 0.08);
  box-shadow: var(--phoenix-box-shadow);
  padding: 1em;
  width: 20em;
  background-color: var(--phoenix-background-color-secondary);
  border-radius: 10px;

  p {
    color: var(--phoenix-text-color-secondary);
  }

  .card-title {
    font-family: Circular;
  }

  .card-body {
    justify-content: space-between;

    a, .btn {
      border-radius: 10px;
      width: 100%;
    }
  }
}

.submitZone {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
