<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <img src="assets/images/logo-text.svg" class="logo d-block mx-auto mb-4" alt="">
        <p class="lead">Application for visualizing High Energy Physics data.</p>
    </div>

    <div class="row centered">

        <div class="card" >
            <img class="card-img-top" src="assets/images/playground.svg" alt="Card image cap">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Search</h5>
                <p class="card-text">Get started with the different Phoenix features.</p>
                <a routerLink="/search" class="btn btn-primary">Show</a>
            </div>
        </div>

        <div class="card" >
            <img class="card-img-top" src="assets/images/geometry.svg" alt="Card image cap">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Generate</h5>
                <p class="card-text">This test should show some simple geometry.</p>
                <a routerLink="/generate" class="btn btn-primary">Show</a>
            </div>
        </div>

    </div>
</div>

<footer>
    <p><em>2019</em> Phoenix Project</p>
    <p><a href="https://github.com/HSF/phoenix">Github</a> - <a href="https://github.com/HSF/phoenix/blob/master/README.md">Documentation</a></p>
</footer>
